<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <table class="job-listing" th:fragment="results" th:each="job : ${jobs}">
        <tr th:each="jobColumn : ${job.entrySet() }">
            <td th:text="${jobColumn.key}"></td>
            <td th:text="${jobColumn.value}"></td>
        </tr>
    </table>

</div>

</body>
</html>